<table class="table">
  <thead>
  <tr>
    <th>name</th>
    <th>code</th>
    <th>credit</th>
  </tr>
  </thead>
  <tbody>
  <% @courses.each do |c| %>
    <tr>
      <td>.name</td>
      <td>c.code</td>
      <td>c.credit</td>
    </tr>
  <% end %>

  </tbody>
</table>